.contact-list-container {
    margin: 20px;
  }
  
  .contact-form {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .input {
    font-size: 18px;
    padding: 5px;
  }
  
  .button {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .contact-list {
    list-style: none;
    padding: 0;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .delete-button {
    margin-left: 10px;
    font-size: 16px;
  }
  .next-button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .next-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #e76f51;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .next-button:hover {
    background-color: #e76f51;
  }
  .button, .delete-button {
    background-color: #e76f51;
    color: #fff;
  }
  
  .button:hover, .delete-button:hover {
    background-color: #e76f51;
  }
  
  