.movie-details-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%; /* updated width value */
  }
  
  .movie-details {
    margin-top: 50px;
    max-width: 800px;
    margin: 20px; /* removed duplicate margin property */
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .backPlusEditBtn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* added margin-top property */
  }
  
  .backPlusEditBtn button {
    background-color: #e76f51;
    border-radius: 5px;
    width: 45px;
    margin-right: 20px;
  }
  
  .backPlusEditBtn button:first-child {
    margin-right: 0;
    margin-left: auto;
  }
  